label {
    display: block;
    margin-top: 10px;
}

input {
    margin-left: 5px;
}

.dark {
    background-color: black;
    color: white;
}

.light {
    background-color: white;
    color: black;
}